/*********
Resources

color-primary: #f55700

**********/
/**** Quick Resets *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  /***** Default on Body ********/
  body {
    font-family: figtree, Verdana, Geneva, Tahoma, sans-serif;
    color: #1b203e;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /****** Other Default styling here *******/
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .work h3,
  .about h3,
  .contact h3 {
    padding: 2.5rem 1rem;
  }
  
  
  /********* Other default styling ends here *******/
  
  /**** Style Header *****/
  
  /***** Style Nav bar ***/
  .nav-header-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .nav-container {
    display: flex;
    justify-content: end;
    grid-column: span 10;
    flex-wrap: wrap;
    gap: .1rem;
  }

.nav-left{
  grid-column: span 2;
}

  nav a,
  .logo {
    color: #f55700;
    text-size-adjust: 1.3rem;
    border-radius: .3rem;
    padding: .6rem;
  }
  .logo {
    text-decoration: underline;
    background-color: unset;
  }
  nav a:hover {
    background-color: #f55700;
    color: white;
  }
  .logo:hover {
    text-decoration: unset;
  }
  
  /**** Style Primary landing Section *******/
  .landing-container {
    display: grid;
    min-height: 80vh;
    grid-template-columns: repeat(12, 1fr);
    background-color: #ffe5e2;
  }
  .landing-container div {
    grid-column: span 6;
    align-self: center;
    padding: 0 5rem;
  }
  .landing-container h4 {
    font-size: 22px;
  }
  .landing-container div button {
    background-color: #f55700;
    color: white;
  }
  .landing-container div button:hover {
    background-color: #d33a2c;
  }
  .brand-text {
    color: #f55700;
  }
  .landing-container div h2,
  h3,
  h4,
  h5 {
    font-weight: lighter;
    line-height: 1.4;
  }
  
  /****** Style Work Section ********/
  .grid-work-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 1rem;
    gap: .9rem;
  }
  .grid-work-items {
    grid-column: span 3;
    border-radius: .4rem;
    background-color: #fef1f0;
    box-shadow: 1px 2px 1.5px 1.5px gray;
    padding-bottom: .2rem;
  }
  .grid-work-items:hover {
    box-shadow: 2px 4px 3px 3px gray;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: .4rem;
  }
  .work-items-des {
    padding: .6rem;
  }
  .work-items-des h4 {
    padding-bottom: .3rem;
  }
  .work-items-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
  }
  .work-items-tags-container li {
    padding: .1rem .4rem;
    border-radius: 2rem;
    background-color: #e6e7f0;
    color: #59607b;
  }
  .work-items-des p {
    padding: .5rem 0;
    color: #59607b;
  }
  .work-items-des button {
    background-color: #8086a6;
    color: white;
  }
  .work-items-des button:hover {
    opacity: .8;
  }
  
  /***** Style about here ****/
  .grid-about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .9rem;
    background-color: #f5f7fb;
    padding: 2rem 1rem;
  }

  .grid-about-items {
    grid-column: span 4;
  }

  .about-items-edu{
    grid-column: span 5;
  }
  
  .about-items-skills{
    grid-column: span 3;
  }

  .grid-about-items h4{
    padding-bottom: .6rem;
  }
  
  .about-items-content-wrapper {
    border-right: 2px solid #e6e7f0;
    padding-right: 2rem;
  }

  .about-items-about p,
  .about-items-edu p,
  .about-items-skills li {
    color: #59607b;
  }

  .edu-degree{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
 /***** Style contact here ****/
 .grid-contact-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   max-width: 800px;
    margin: auto;
  }
  .grid-contact-items {
    grid-column: span 6;
    padding: 2rem;
    border-radius: .5rem;
  }

.con-item-1{
  background-color: #ffe5e2;
}

.con-item-2{
  color: white;
  background-color: rgb(11, 204, 140);
}

  .con-icon-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .con-connect-icon-wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  .grid-contact-items h4{
    padding-bottom: .6rem;
  }
  
  .svg-icons {
    height: 24px;
    width: 24px;
  }

  /********* style contact form *********/
 form #name, form #email, form #message{
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    margin: .5rem 0;
    border: 1px solid #8086a6;
  }

  #name:hover, #email:hover, #message:hover{
    box-shadow: 1px 1px 1px 1px gray;
  }

/********* footer starts here ************/
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
  }
  .footer-item {
    padding: 2rem;
    color: #59607b;
    font-size: 14px;
  }
  
  /****** Components here ****/
  .btn {
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    font-weight: bold;
    border: none;
  }
  
  .cta-primary{
    background-color: #f55700;
    color: white;
  }

  .cta-primary:hover{
    background-color: #d33a2c;
  }
  /*****mdedia queries below here*****/
  
  /****** for tablets ***********/
  @media only screen and (max-width: 720px) {
    .landing-container div {
      grid-column: span 9;
    }
    .grid-work-items {
      grid-column: span 6;
    }
    .grid-about-items {
      grid-column: span 6;
    }
    .grid-contact-items {
      grid-column: span 6;
    }
  }
  
  /***** for phones *****/
  @media only screen and (max-width: 460px) {
    .landing-container div {
      grid-column: span 12;
    }
    .grid-work-items {
      grid-column: span 12;
    }
    .grid-about-items {
      grid-column: span 12;
    }
    .about-items-content-wrapper {
      border-bottom: 2px solid #e6e7f0;
      padding-bottom: 3rem;
      border-right: unset;
      padding-right: unset;
    }
    .grid-contact-items {
      grid-column: span 12;
    }
  }
  
  /****** for super big screens ****/
  @media only screen and (min-width: 1200px) {
    .grid-work-container,
    .grid-about-container{
      max-width: 1600px;
      margin: auto;
    }
  }
  